@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.container{
     margin: -7px;
}


/*===========================================================================*/
/*                       STYLING FOR HEADER                                  */
/*===========================================================================*/
.header{
     display: flex;
     justify-content: space-around;
     padding: 1em;
     font-weight: 600;
}
.header div{
     display: flex;
     justify-content: space-around;
    
}
.header li{
     list-style:none;
     margin-right:1em;
     margin-left: 1em;
     font-family: 'Space Grotesk';
}
.header li:hover{
     color:#2549D3;
}
.header .name{
     font-family: 'Oleo script';
     font-size: 1.5em;
}
.header .btn{
     color:#FAFAFA;
     background-color: #2549D3;
     font-family: 'Space Grotesk';
     padding: 0.7em;
     border-radius:5px;


     /* background-color: #0F298B; */
     /* background-color: #FAFAFA; */
}
.header .list{
     display: flex;
     justify-content: space-around;
     padding-top:0.5em;
}

/*===========================================================================*/
/*                      STYLING FOR DESCRIPTION                              */
/*===========================================================================*/
.description{
     display: flex;
     justify-content: space-evenly;
     margin-top: 3vh;
     margin-bottom:10vh;
     
}

.description div{
     width:35vw;
     /* margin: 1em; */

}

/* .description div img{
     width:100%;
     height:100%;
} */
.description img{
     width:40vw;
     height:25vw;
     object-fit: fill;
}
.description .txt{
     font-family: 'Space Grotesk';
     font-size: 1.5vw;
}
.description .txt p:first-child{
     color: #0F298B;
     font-size: 3vw;
     font-weight: 600;
     word-wrap: break-word;
}
.description .txt i{
     color: #0F298B;
     padding: 1em;
     font-size: 3vw;
}
.txt span{
     color:#FAFAFA;
     font-weight: 600;
     padding: 0.5em;
     background-color: #0F298B;
     border-radius: 5px;
}
.filter{
     width:70vw;
     height:70px;
     font-family: 'Space Grotesk';
     display: flex;
     justify-content: space-around;
     padding-top: 1.5em;
     margin: auto;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-radius: 10px;
}
.filter li{
     list-style:none;
}
.filter li:first-child{
     color: #0F298B;
     font-weight: 600;
}
.filter span{
     color:#FAFAFA;
     font-weight: 600;
     padding: 0.5em 3em;
     background-color: #0F298B;
     border-radius: 5px;
}

h2.prod{
     color:#0F298B;
     font-family: 'Space Grotesk';
     position: relative;
     left:10vw;
     margin-top:10vh;
}
.wr{
     font-family: 'Space Grotesk';
     text-align: center;
}
.wr h2{
     color:#0F298B;
}